<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vicinity</title>
    <link rel="icon" href="/img/logo/logo.png" type="image/icon type">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="logo mr-auto"><a href="/" style="text-decoration: none;color:black">vici<span style="color:#106EEA">NITY</span></a></h1>
        <span style="margin:1em 1em 1em 1em;">Hi <%= admin.name %></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li><a href="/deleteform">Delete</a></li>
          </ul>
        <form method="POST" action="/admin/logout" class="form-inline my-2 my-lg-0">
            <button class="btn btn-danger" type="submit">Logout</button>
        </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form method="POST" action="/admin/insert" style="margin-top: 20px; margin-bottom: 20px;">
                    <h1>Insert images</h1>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputEmail1">State Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter State" name="state">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">City Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city" name="city">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-6">
                <form method="POST" action="/admin/singleInsert" style="margin-top: 20px; margin-bottom: 20px;">
                    <h1>Insert single image</h1>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputEmail1">State Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter State" name="state">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">City Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city" name="city">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">URL of image</label>
                        <input type="url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter URL" name="url">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>